.checkboxDropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid var(--color-primary_gray_3);
  border-radius: 0.3vmin;
  position: relative;
  user-select: none;
  min-width: 22vmin;
  max-width: 22vmin;
  word-wrap: break-word;
  cursor: pointer;
  padding: 0.3vmin 1vmin;
}

.checkboxDropdown p {
  margin: 0;
  padding: 0;
}

.dropPara {
  white-space: nowrap;
  margin-top: 2px !important;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}

/* Rotate arrow when active */
.checkboxDropdown.isActive .rotate_icon {
  transform: rotate(180deg);
}

.checkboxDropdownList {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  display: none;
  background-color: var(--color-primary_white);
  box-shadow: 0px 0px 4px 0px var(--color-primary_gray_3);
  height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: all;
  border: none;
  border-radius: 0.25rem;
  z-index: 1000;
}

.invisible {
  display: none !important;
}

.isActive .checkboxDropdownList {
  display: inline-block;
  pointer-events: auto;
}

.checkboxDropdownList li {
  padding: 0.6vmin 1vmin;
}

.checkboxDropdownList li label {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.4vmin;
  cursor: pointer;
}

.checkboxDropdownList li:hover {
  background-color: var(--color-primary_gray_4);
  color: var(--color-primary_gray);
}

.option {
  font-size: 1.4vmin;
}

.rotate_icon {
  font-size: 1.2vmin;
  color: var(--color-primary_gray_2);
}

.checkIconImg {
  width: 2.2vmin;
  filter: none !important;
}

.selectImageIcon {
  width: 2vmin;
  height: 2vmin;
}

span.dropDownTextMaxWidth {
  max-width: 100%;
}

.multiSelectDropdown_custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vmin;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.flexCenterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.react-select-modifyDetails__menu) {
  margin: 0 !important;
}

.getLabelValueText {
  margin-top: 4px;
  white-space: nowrap;
}
